{% extends 'dwfcommon/base/base.html' %}
{% load static  %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'dwfcommon/style/errors.css' %}"/>
{% endblock additional_styles %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <div class="error-message">
                    Ah! You are NOT allowed here.
                </div>
                <div class="error-code">403 <span>Not Authorized</span></div>
                <div class="error-details">
                    Sorry, you are NOT authorized to visit the page! Please contact administrator.
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
