<div class="row">
    <div class="col col-md-12 text-center">
        <div class="pagination">

            {% if data_list.has_previous %}
                <a class="pagination-action" href="?page=1">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ data_list.previous_page_number }}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            {% endif %}

            {% for num in data_list.paginator.page_range %}

                {% if data_list.number == num %}
                    <span class="pagination-number pagination-current">{{ num }} of {{ data_list.paginator.num_pages }}</span>
                {% elif num > data_list.number|add:'-3' and num < data_list.number|add:'3' %}
                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                {% endif %}

            {% endfor %}

            {% if data_list.has_next %}
                <a class="pagination-action" href="?page={{ data_list.next_page_number }}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ data_list.paginator.num_pages }}">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>
