{% extends 'dwfcommon/base/base.html' %}

{% block page_header %}
    Request to Change Role
{% endblock page_header %}

{% block content %}
    <div class="single-form-wrapper mx-auto">
        <div class="row field">
            <div class="col col-md-4 text-md-right">User (username)</div>
            <div class="col col-md-8">{{ user_role_request.user }}</div>
        </div>
        <div class="row field">
            <div class="col col-md-4 text-md-right">Email</div>
            <div class="col col-md-8">{{ user_role_request.user.email }}</div>
        </div>
        <div class="row field">
            <div class="col col-md-4 text-md-right">Role From</div>
            <div class="col col-md-8">{{ user_role_request.current_role }}</div>
        </div>
        <div class="row field">
            <div class="col col-md-4 text-md-right">Role To</div>
            <div class="col col-md-8">{{ user_role_request.intended_role }}</div>
        </div>
        <div class="row field">
            <div class="col col-md-4 text-md-right">Request Time</div>
            <div class="col col-md-8">{{ user_role_request.request_time }}</div>
        </div>
        {% if user_role_request.status != 'Action Required' %}
            <div class="row field">
                <div class="col col-md-4 text-md-right">Status</div>
                <div class="col col-md-8">{{ user_role_request.status }}</div>
            </div>
            <div class="row field">
                <div class="col col-md-4 text-md-right">Actioned By</div>
                <div class="col col-md-8">{{ user_role_request.actioned_by }}</div>
            </div>
            <div class="row field">
                <div class="col col-md-4 text-md-right">Actioned Time</div>
                <div class="col col-md-8">{{ user_role_request.action_time }}</div>
            </div>
        {% endif %}
    </div>
    {% if user_role_request.status == 'Action Required' %}
        <div class="single-form-wrapper mx-auto">
            {% include 'dwfcommon/snippets/render_form.html' %}
        </div>
    {% endif %}
{% endblock content %}
